<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>NlP Login Page</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>NLP app</h1>
  <h3>Login Here</h3>
  {% if massage%}
  <p style="color:green">{{massage}}</p>
  {% endif%}

  <form action="/perform_login" method="post">
    <label>Email</label><br>
    <input type="email" name="user_email"><br>
    <label>Password</label><br>
    <input type="password" name="user_pass"><br><br>
    <input type="submit" value="Login">
  </form>
    <p>not a member|<a href="/register"> Register here </a></p>




</body>
</html>